# Azure AD credentials
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# SharePoint file URL
SHAREPOINT_PATH=
SHAREPOINT_SHEET=Sheet1

# Local file path
LOCAL_FILE_PATH=/path/to/local/file.xlsx

# UCS credentials
UCS_USER=
UCS_PASSWORD=
STD_PASS=
