# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller / build
build/
dist/
*.spec
ucs.pkg
*.egg-info/

# Logs
logs/
*.log

# Arquivos temporários
*.tmp
*.swp

# Ambientes virtuais
venv/
.venv/
env/
.env

# Arquivos de configuração locais
*.sqlite3
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Arquivos Excel usados como entrada
*.xlsx
*.xls

# Arquivos de backup
*.bak
*.old